In [1]:
import pandas as pd

In [5]:
url="Dataset/submission_83235.csv"

In [6]:
pd.read_csv(url)

      patient_id  metastatic_diagnosis_period
0         730681                          189
1         334212                           75
2         571362                          197
3         907331                          215
4         208382                           60
...          ...                          ...
5641      649011                           56
5642      869024                           77
5643      304800                          224
5644      267406                           72
5645      873886                           50

[5646 rows x 2 columns]

In [7]:
dados=pd.read_csv(url,sep=",")
dados.head(10)

   patient_id  metastatic_diagnosis_period
0      730681                          189
1      334212                           75
2      571362                          197
3      907331                          215
4      208382                           60
5      852863                          229
6      494644                           54
7      852015                           57
8      521061                          114
9      907023                           47

In [8]:
dados.tail(10)

      patient_id  metastatic_diagnosis_period
5636      553916                           59
5637      170619                           36
5638      801815                           69
5639      306903                           86
5640      931444                           63
5641      649011                           56
5642      869024                           77
5643      304800                          224
5644      267406                           72
5645      873886                           50